.bicicletas-bg {
  background: linear-gradient(to right, var(--w) 20%, var(--c11) 20%);
}
.bicicletas-bg h2,
.bicicletas-bg p {
  color: var(--c04);
}
.bicicletas-bg ul li {
  color: var(--c06);
}
.bicicletas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 60px 40px;
}
.bicicletas-img {
  position: relative;
}
.bicicletas-img span {
  color: var(--c05);
  background-color: var(--c12);
  padding: 4px 8px;
  display: inline-block;
  border-radius: 2px 0px 0px 2px;
  position: absolute;
  top: 16px;
  right: 0px;
}

.bicicletas-cnt {
  display: grid;
  grid-template-columns: 1fr auto;
  color: var(--c11);
  align-content: start;
}
.bicicletas-cnt h2 {
  grid-column: 1/-1;
  margin-bottom: 20px;
  overflow: hidden;
}
.bicicletas-cnt h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--p01);
  margin-bottom: 8px;
}
.bicicletas-cnt p {
  grid-column: 1/-1;
  margin-bottom: 72px;
}
.bicicletas-cnt .btn {
  grid-column: 2;
}
.bicicletas-cnt li {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  color: var(--c09);
}
.bicicletas-cnt .btn,
.bicicletas-cnt ul {
  align-self: flex-end;
}
.bicicletas-cnt li img {
  width: 24px;
  margin-right: 8px;
}
@media (max-width: 900px) {
  .bicicletas-bg {
    background: var(--c11);
  }
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px 24px;
  }
  .bicicletas-cnt h2 {
    margin-bottom: 12px;
  }
  .bicicletas-cnt p {
    margin-bottom: 16px;
    padding: 4px;
    border-bottom: 2px solid var(--c03);
  }
  .bicicletas-bg p {
    border-bottom: 2px solid var(--c10);
  }
}
