.vantagens-bg {
  background-color: var(--c12);
}
.vantagens h2 {
  color: var(--w);
  margin-bottom: 80px;
}
.vantagens h2 span {
  color: var(--p01);
}
.vantagens ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 100px;
}
.vantagens li {
  color: var(--c04);
  max-width: 40ch;
}
.vantagens {
  padding: 120px 20px;
}
.vantagens h3,
.vantagens img {
  margin-bottom: 8px;
  overflow: hidden;
}
@media (max-width: 800px) {
  .vantagens {
    padding: 60px 16px;
  }
  .vantagens ul {
    gap: 32px;
  }
  .vantagens h2 {
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .vantagens ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}
